<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cuit.meeting.dao.RpaFileMapper">

    <resultMap id="BaseResultMap" type="org.cuit.meeting.domain.entity.RpaFile">
            <id property="id" column="id" />
            <result property="fileName" column="file_name" />
            <result property="fileUrl" column="file_url" />
            <result property="topped" column="topped" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,file_name,file_url,topped,create_time
    </sql>
</mapper>
