<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cuit.meeting.dao.SubtopicsMapper">

    <resultMap id="BaseResultMap" type="org.cuit.meeting.domain.Subtopics">
            <id property="id" column="id" />
            <result property="reservationId" column="reservation_id" />
            <result property="subtopics" column="subtopics" />
            <result property="description" column="description" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,reservation_id,subtopics,description,create_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from subtopics
        where  id = #{id} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from subtopics
        where  id = #{id} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.cuit.meeting.domain.Subtopics" useGeneratedKeys="true">
        insert into subtopics
        ( id,reservation_id,subtopics,description,create_time)
        values (#{id},#{reservationId},#{subtopics},#{description},#{createTime})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.cuit.meeting.domain.Subtopics" useGeneratedKeys="true">
        insert into subtopics
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="reservationId != null">reservation_id,</if>
                <if test="subtopics != null">subtopics,</if>
                <if test="description != null">description,</if>
                <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="reservationId != null">#{reservationId},</if>
                <if test="subtopics != null">#{subtopics},</if>
                <if test="description != null">#{description},</if>
                <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.cuit.meeting.domain.Subtopics">
        update subtopics
        <set>
                <if test="reservationId != null">
                    reservation_id = #{reservationId},
                </if>
                <if test="subtopics != null">
                    subtopics = #{subtopics},
                </if>
                <if test="description != null">
                    description = #{description},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="org.cuit.meeting.domain.Subtopics">
        update subtopics
        set 
            reservation_id =  #{reservationId},
            subtopics =  #{subtopics},
            description =  #{description},
            create_time =  #{createTime}
        where   id = #{id} 
    </update>
</mapper>
